div.content { width: 160mm;
              margin-left: 30mm;
              margin-right: 20mm;
              margin-top: 20mm;
            }
p { text-align: justify }
section.after {
                content: "";
                display: table;
                clear: both;
            }
th, td {
  padding-left: 30px;
  padding-right: 40px;
}

tr:hover {background-color: #D6EEEE;}
